<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
            background-color: black;
        }

        header {
            grid-area: header;
            background-color: rgb(108, 114, 114);
        }

        nav {
            grid-area: nav;
            background-color: rgb(108, 114, 114);
        }

        main {
            grid-area: main;
            background-color: white;
        }

        aside {
            grid-area: aside;
            background-color: white;
        }

        .container {
            display: grid;
            grid-template-rows: 1fr 5fr 0fr;
            grid-template-columns: 2fr 10fr 3fr;
            grid-template-areas:
                "header header header"
                "nav main aside"
                "footer footer footer";
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSXbpeseau0E1YYT1BIsq53OBd4spjBTMZRxkmPSndZBNAnHLQH"
                alt="" width="150" height="100" style="display: inline;">
            <h1 style="color:white">
                <center><b>Security</b></center>
            </h1>
            <div style="text-align: right;margin-right: 20px;"><label class="btn" style="background: white;"
                    for="logout"><a href="/logout">Logout</a></label></div>
        </header>
        <nav>
            <hr> <br> <br> <br>
            <h2 style="color:black;">
                <center><b>Current Visitors</b></center>
            </h2>
            <br> <br> <br><br>
            <hr> <br>
            <h2 style="color:black;">
                <center><b>Previous Visits</b></center>
            </h2>
            <br> <br> <br>
        </nav>
        <main>
            <p>
                <div class="secuirityInfo">
                    <table class="table table-stripped" border="1" style="width: 100%">
                        <thead style="background-color:gray; text-align: center">
                            <tr>
                                <th text-align: center;">Search Visit with Token number for Checkin or Checkout</th>
                            </tr>
                        </thead>
                        <tbody id="currentVisitors" style="background-color:rgb(180, 203, 223)">

                            <tr style="border: 1px solid black;" align="center">
                                <td>
                                    <form action="/security/search" method="POST">
                                        <input type="text" id="token" name="token" placeholder="Enter Token No" />
                                        <button type="submit">Submit</button>
                                    </form>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </p>
            <p>
                <div class="secuirityInfo">
                    <table class="table table-stripped" border="1" style="width: 100%">
                        <thead style="background-color:gray; text-align: center">
                            <tr>
                                <th text-align: center;">Host</th>
                                <th text-align: center;">Name</th>
                                <th text-align: center;">Date</th>
                                <th text-align: center;">Time</th>
                                <th text-align: center;">Destination</th>
                                <th text-align: center;">Car Make</th>
                                <th text-align: center;">Car Model</th>
                                <th text-align: center;">Plate Number</th>
                                <th text-align: center;">Checked Out</th>
                            </tr>
                        </thead>
                        <tbody id="currentVisitors" style="background-color:rgb(180, 203, 223)">
                            <% currentVisits.forEach(function(visitor){ %>
                            <tr style="border: 1px solid black;">
                                <td><%= visitor.host %></td>
                                <td><%= visitor.name %></td>
                                <td><%= visitor.date.getDate(); %>/<%= visitor.date.getMonth(); %>/<%= visitor.date.getFullYear(); %>
                                </td>
                                <td><%= visitor.time %></td>
                                <td><%= visitor.destination %></td>
                                <td><%= visitor.car_make %></td>
                                <td><%= visitor.car_model %></td>
                                <td><%= visitor.plate_number %></td>
                                <td><a href="/security/<%=visitor._id%>"> <%= visitor.checked_out %> :: Checkout</a>
                                </td>
                            </tr>
                            <%})%>
                        </tbody>
                    </table>
                </div>
            </p>
            <br>
            <br>
            <hr> <br>
            <p style="padding-left: 20ch;">
                <table class="table table-stripped" border="1" style="width: 15cm">
                    <thead style="background-color:gray; text-align: center">
                        <tr>
                            <th text-align: center;>Host</th>
                            <th text-align: center;">Name</th>
                            <th text-align: center;">Date</th>
                            <th text-align: center;">Time</th>
                            <th text-align: center;">Destination</th>
                            <th text-align: center;">Car Make</th>
                            <th text-align: center;">Car Model</th>
                            <th text-align: center;">Plate Number</th>
                            <th text-align: center;">Checked Out</th>
                        </tr>
                    </thead>
                    <tbody id="previousVisitors" style="background-color:rgb(226, 158, 132)">
                        <% previousVisits.forEach(function(visitor){ %>
                        <tr style="border: 1px solid black;">
                            <td><%= visitor.host %></td>
                            <td><%= visitor.name %></td>
                            <td><%= visitor.date.getDate(); %>/<%= visitor.date.getMonth(); %>/<%= visitor.date.getFullYear(); %>
                            </td>
                            <td><%= visitor.time %></td>
                            <td><%= visitor.destination %></td>
                            <td><%= visitor.car_make %></td>
                            <td><%= visitor.car_model %></td>
                            <td><%= visitor.plate_number %></td>
                            <td><%= visitor.checked_out %></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </p>
        </main>
    </div>
</body>

</html>