<%- include("./partial/header.ejs") %>
<body>
  <style>
    .container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
.form-style-9{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
  </style>

  <!-- Navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" style="font-size:2vw" href="/visits/"> 
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/King_Fahd_University_of_Petroleum_%26_Minerals_Logo.svg/1024px-King_Fahd_University_of_Petroleum_%26_Minerals_Logo.svg.png" alt="KFUPM logo" height=80>
			Visiting Management System
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="http://www.kfupm.edu.sa" style="text-decoration: none;">KFUPM Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" style="text-decoration: none;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Visitors
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				<button class="btn-outline-success my-2 my-sm-0" type="submit" formaction="/logout">Logout</button>
			</form>
		</div>
  </nav>  
  <h3>Edit Visit Request: <%= name%> Hosted by <%= host%></h3>  
    <form action="/visits/<%=name%>/<%=host%>/?_method=PATCH" method="POST">
      <div class="form-group">
      <label for="host">Host</label>
      <input type="input" class="form-control" name="host" id="host" value="<%= host%>" <%=hostReadOnly%>>
  
      <label for="name">Name</label>
      <input type="input" class="form-control" name="name" id="name" value="<%= name%>" <%=visitorReadOnly%>>

      <label for="date">Visit's Date</label>
      <input type="input" class="form-control" name="date" id="date" value="<%= date%>">

      <label for="destination">Destination</label>
      <input type="input" class="form-control" name="destination" id="destination" value="<%= destination%>">

      <label for="car_make">Car Make</label>
      <input type="input" class="form-control" name="car_make" id="car_make" value="<%= car_make%>">

      <label for="car_model">Car Model</label>
      <input type="input" class="form-control" name="car_model" id="car_model" value="<%= car_model%>">

      <label for="plate_number">Plate Number</label>
      <input type="input" class="form-control" name="plate_number" id="plate_number" value="<%= plate_number%>">

      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
    </form>
</body>
</html>